%svg-common {
	background: url(css/icons/icons-0ee2588e.svg) no-repeat;
}

.icons-a11y { 
	@extend %svg-common;
	background-position: 0 0;
}

.icons-a11y-dims {
	width: 200px;
	height: 200px;
}

.icons-btconf { 
	@extend %svg-common;
	background-position: 0 42.73504273504273%;
}

.icons-btconf-dims {
	width: 250.318px;
	height: 86px;
}

.icons-contentful { 
	@extend %svg-common;
	background-position: 0 61.111111111111114%;
}

.icons-contentful-dims {
	width: 420.864px;
	height: 86px;
}

.icons-location { 
	@extend %svg-common;
	background-position: 0 81.22270742358079%;
}

.icons-location-dims {
	width: 54px;
	height: 96px;
}

.icons-tollwerk { 
	@extend %svg-common;
	background-position: 0 100%;
}

.icons-tollwerk-dims {
	width: 324px;
	height: 86px;
}

