%svg-common {
	background: url(icons/icons-21a2b4fa.png) no-repeat;
}

.icons-a11y { 
	@extend %svg-common;
	background-position: 0 0;
}

.icons-a11y-dims {
	width: 200px;
	height: 200px;
}

.icons-beaverfilm { 
	@extend %svg-common;
	background-position: 0 15.256577491971225%;
}

.icons-beaverfilm-dims {
	width: 420px;
	height: 90.09px;
}

.icons-bnt { 
	@extend %svg-common;
	background-position: 0 21.853458666548512%;
}

.icons-bnt-dims {
	width: 300px;
	height: 69.403px;
}

.icons-btconf { 
	@extend %svg-common;
	background-position: 0 27.452471482889734%;
}

.icons-btconf-dims {
	width: 250.318px;
	height: 86px;
}

.icons-contentful { 
	@extend %svg-common;
	background-position: 0 33.99239543726236%;
}

.icons-contentful-dims {
	width: 420.864px;
	height: 86px;
}

.icons-gesundheitscloud { 
	@extend %svg-common;
	background-position: 0 42.5411004496746%;
}

.icons-gesundheitscloud-dims {
	width: 300px;
	height: 148.094px;
}

.icons-location { 
	@extend %svg-common;
	background-position: 0 52.26053639846743%;
}

.icons-location-dims {
	width: 54px;
	height: 96px;
}

.icons-mindscreen { 
	@extend %svg-common;
	background-position: 0 57.69416161780955%;
}

.icons-mindscreen-dims {
	width: 350px;
	height: 52.51px;
}

.icons-mozilla { 
	@extend %svg-common;
	background-position: 0 63.18358595362736%;
}

.icons-mozilla-dims {
	width: 300px;
	height: 85.785px;
}

.icons-pointnine { 
	@extend %svg-common;
	background-position: 0 69.71205197462999%;
}

.icons-pointnine-dims {
	width: 300px;
	height: 85.589px;
}

.icons-simonefass { 
	@extend %svg-common;
	background-position: 0 75.41738976128103%;
}

.icons-simonefass-dims {
	width: 300px;
	height: 71.068px;
}

.icons-sinnerschrader { 
	@extend %svg-common;
	background-position: 0 80.6581101542183%;
}

.icons-sinnerschrader-dims {
	width: 300px;
	height: 68.214px;
}

.icons-spreespeicher { 
	@extend %svg-common;
	background-position: 0 87.31831264993524%;
}

.icons-spreespeicher-dims {
	width: 294.803px;
	height: 90.851px;
}

.icons-talent-io { 
	@extend %svg-common;
	background-position: 0 93.45723669274892%;
}

.icons-talent-io-dims {
	width: 420px;
	height: 79.54px;
}

.icons-tollwerk { 
	@extend %svg-common;
	background-position: 0 100%;
}

.icons-tollwerk-dims {
	width: 324px;
	height: 86px;
}

