%svg-common {
	background: url(css/icons/icons-d51d0885.png) no-repeat;
}

.icons-a11y { 
	@extend %svg-common;
	background-position: 0 0;
}

.icons-a11y-dims {
	width: 200px;
	height: 200px;
}

.icons-btconf { 
	@extend %svg-common;
	background-position: 0 38.38771593090211%;
}

.icons-btconf-dims {
	width: 250.318px;
	height: 86px;
}

.icons-contentful { 
	@extend %svg-common;
	background-position: 0 54.89443378119002%;
}

.icons-contentful-dims {
	width: 420.864px;
	height: 86px;
}

.icons-location { 
	@extend %svg-common;
	background-position: 0 72.79843444227006%;
}

.icons-location-dims {
	width: 54px;
	height: 96px;
}

.icons-mindscreen { 
	@extend %svg-common;
	background-position: 0 84.40188281123194%;
}

.icons-mindscreen-dims {
	width: 350px;
	height: 52.51px;
}

.icons-tollwerk { 
	@extend %svg-common;
	background-position: 0 100%;
}

.icons-tollwerk-dims {
	width: 324px;
	height: 86px;
}

