.icons-a11y { 
	background: url(icons/a11y.svg) no-repeat;
}

.icons-a11y-dims {
	width: 200px;
	height: 200px;
}

.icons-beaverfilm { 
	background: url(icons/beaverfilm.svg) no-repeat;
}

.icons-beaverfilm-dims {
	width: 420px;
	height: 90.09px;
}

.icons-bnt { 
	background: url(icons/bnt.svg) no-repeat;
}

.icons-bnt-dims {
	width: 300px;
	height: 69.403px;
}

.icons-btconf { 
	background: url(icons/btconf.svg) no-repeat;
}

.icons-btconf-dims {
	width: 250.318px;
	height: 86px;
}

.icons-contentful { 
	background: url(icons/contentful.svg) no-repeat;
}

.icons-contentful-dims {
	width: 420.864px;
	height: 86px;
}

.icons-gesundheitscloud { 
	background: url(icons/gesundheitscloud.svg) no-repeat;
}

.icons-gesundheitscloud-dims {
	width: 300px;
	height: 148.094px;
}

.icons-location { 
	background: url(icons/location.svg) no-repeat;
}

.icons-location-dims {
	width: 54px;
	height: 96px;
}

.icons-mindscreen { 
	background: url(icons/mindscreen.svg) no-repeat;
}

.icons-mindscreen-dims {
	width: 350px;
	height: 52.51px;
}

.icons-mozilla { 
	background: url(icons/mozilla.svg) no-repeat;
}

.icons-mozilla-dims {
	width: 300px;
	height: 85.785px;
}

.icons-pointnine { 
	background: url(icons/pointnine.svg) no-repeat;
}

.icons-pointnine-dims {
	width: 300px;
	height: 85.589px;
}

.icons-simonefass { 
	background: url(icons/simonefass.svg) no-repeat;
}

.icons-simonefass-dims {
	width: 300px;
	height: 71.068px;
}

.icons-sinnerschrader { 
	background: url(icons/sinnerschrader.svg) no-repeat;
}

.icons-sinnerschrader-dims {
	width: 300px;
	height: 68.214px;
}

.icons-spreespeicher { 
	background: url(icons/spreespeicher.svg) no-repeat;
}

.icons-spreespeicher-dims {
	width: 294.803px;
	height: 90.851px;
}

.icons-talent-io { 
	background: url(icons/talent-io.svg) no-repeat;
}

.icons-talent-io-dims {
	width: 420px;
	height: 79.54px;
}

.icons-tollwerk { 
	background: url(icons/tollwerk.svg) no-repeat;
}

.icons-tollwerk-dims {
	width: 324px;
	height: 86px;
}

