@charset "utf-8";

html {
	font-family: 'Roboto Slab', sans-serif;
	font-size: larger;
	color: $text;
}

body {
	margin: 0;
}

main, header, section, footer, figure, figcaption {
    display: block;
}

p, li, figcaption, blockquote {
	line-height: 1.75;
}

h1, h2 {
	text-align: center;
	font-weight: 900;
}

h1 {
    font-size: 2.4em;
    line-height: 1;
}

h2 {
    font-size: 1.65em;
    margin: 1.5em 0 1em;
    hyphens: auto;
}

a {
    color: $orange;
    font-weight: bold;
}

figure {
	display: block;
	margin: 0;
}

figcaption {
	display: block;
	text-align: left;
}

main {
    padding: 1em;
}

address {
    font-style: normal;
    line-height: 1.5;
}

footer {
    margin: 1em 1em 0 1em;
    border-top: 9px solid #eee;
    padding: 0 0 3em 0;

    .content {
        padding-top: 3em;
    }

    address {
        padding: 120px 0 0 0;
    }

	h2 {
		position: absolute;
		clip: rect(0,0,0,0);
		top: 0;
		left: 0;
	}
}

#wiref {
	padding-top: 160px;
}

dt {
    float: left;
    clear: left;
}

dd {
    margin-left: 6em;
}

.by {
    margin: 0 0 2em 0;
}

blockquote, .cto {
	margin: 0;
	padding: 2em;
	text-align: center;
	font-weight: bold;
	font-size: x-large;
}

.cto {
	display: block;
	background-color: $orange;
	color: #fff;
}

p {
    hyphens: auto;
}

.portrait {
	text-align: center;

	img {
		margin: 1em 0;
		border-radius: 50%;
	}
}
