@font-face {
	font-family: 'neighbourhood';
	src: url('css/fonts/neighbourhood.eot');
	src: url('css/fonts/neighbourhood.eot?#iefix') format('embedded-opentype'),
	url('css/fonts/neighbourhood.woff2') format('woff2'),
	url('css/fonts/neighbourhood.woff') format('woff'),
	url('css/fonts/neighbourhood.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
