* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
}

h1, h2 {
	margin: 0;
	max-width: 80vw;
	padding: 0;
	line-height: 1;
	font-weight: normal;
}

h1 {
	font-size: 12vw;
	line-height: .8;
}

h2 {
	font-size: 8vw;
	margin: 0 0 .3em -.06em;
	position: relative;
	z-index: 99;

	&::after {
		content: '';
		position: absolute;
		height: .7vmin;
		width: 12vw;
		bottom: -.08em;
		left: .06em;
		background-color: $foreground;
		border-radius: .35vmin;
	}
}

ol {
	margin-left: -.8em;
}

.tagline, .big {
	font-size: 4vw;
}

.very-big {
	font-size: 7vw;
}

.tagline {
	margin-top: 0;
}

footer a {
	text-decoration: none;
}

p:first-child,
p:last-child {
	padding: 0;
	margin: 0;
}

/* `colors */
.dark {
	background-color: $background;
	color: $foreground;
}

.darkgrey {
	background-color: $darkgrey !important;
	color: $foreground !important;
}

.light {
	background-color: #e3e0e3;
	color: $background;
}

.petrol {
	background-color: $petrol !important;
}

.violet {
	background-color: $violet !important;
}

.screenshot {
	background-color: $screenshot !important;
}

.white {
	background-color: $foreground !important;
}

.mint {
	background-color: $mint !important;
}

.lightblue {
	background-color: $lightblue !important;
}

.white, .mint, .lightblue {
	*, a {
		color: $background !important;
	}

	h2::after {
		background-color: $background;
	}
}

.orange {
	background-color: $iwcorange !important;
}

body {
	overflow: hidden;
	background: $background;
	color: $foreground;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 3vmin;
	line-height: 1.5;
}

a {
	color: $foreground;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.slides {
	display: block;
	position: absolute;
	width: 1920px;
	height: 1080px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	list-style: none;
	font-weight: normal;

	> li {
		//display: none;
		display: table;
		list-style: none;
		position: absolute;
		border-collapse: collapse;

		width: 100%;
		height: 100%;
		color: $foreground;
		background-color: $background;
		background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 100%);
		opacity: 0;
		transition: opacity $transition ease;

		&.no-gradient {
			background-image: none;
		}

		&.active::before {
			display: none;
		}

		> section::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			z-index: -1;
		}

		> * {
			padding: 10vw 15vh;
			display: table-cell;
			text-align: left;
			background-repeat: no-repeat;
		}

		&.middle > * {
			vertical-align: middle;
		}

		&.bottom > * {
			vertical-align: bottom;
		}

		&.active {
			opacity: 1;
			display: table;
		}

		&.step-0 ul:not(.static) > li,
		&.step-1 ul:not(.static) > li,
		&.step-2 ul:not(.static) > li,
		&.step-3 ul:not(.static) > li,
		&.step-4 ul:not(.static) > li,
		&.step-5 ul:not(.static) > li,
		&.step-6 ul:not(.static) > li,
		&.step-7 ul:not(.static) > li,
		&.step-8 ul:not(.static) > li,
		&.step-9 ul:not(.static) > li {
			transition: opacity $transition ease-in-out;
		}

		&.step-0 ul:not(.static) > li,
		&.step-1 ul:not(.static) > li:nth-of-type(1n+2),
		&.step-2 ul:not(.static) > li:nth-of-type(1n+3),
		&.step-3 ul:not(.static) > li:nth-of-type(1n+4),
		&.step-4 ul:not(.static) > li:nth-of-type(1n+5),
		&.step-5 ul:not(.static) > li:nth-of-type(1n+6),
		&.step-6 ul:not(.static) > li:nth-of-type(1n+7),
		&.step-7 ul:not(.static) > li:nth-of-type(1n+8),
		&.step-8 ul:not(.static) > li:nth-of-type(1n+9),
		&.step-9 ul:not(.static) > li:nth-of-type(1n+10) {
			opacity: 0;
		}

		section {
			ul, p {
				width: 50vw;
			}
		}

		li {
			line-height: 1.4;
			margin: .5em 0 .5em 1em;
			text-indent: -1em;

			li {
				padding-left: 1em;
				list-style-type: disc;
			}
		}

		.dl {
			margin-bottom: .75em;
		}

		.dt {
			color: $iwcorange;
			display: block;
		}
	}
}

footer {
	position: relative;
	margin-top: 4em;
	padding-top: .8em;

	&::before {
		content: '';
		position: absolute;
		height: .5vmin;
		width: 12vw;
		top: 0;
		background-color: $foreground;
		border-radius: .25vmin;
	}
}

.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.check {
	background: transparent url('img/checkmark.svg') left center no-repeat;
	padding-left: 1.5em;
	background-size: auto 60%;
}

.center {
	text-align: center;
}

.ref {
	position: absolute;
	bottom: 10%;
	left: 10vw;
	opacity: .3;
}

figure {
	padding: 0;
	margin: 0;
}

.active {
	&.screenshot .cover,
	blockquote {
		animation: fall-away 500ms ease-in reverse forwards;
	}
}
