.icons-a11y-dims {
	width: 200px;
	height: 200px;
}

.icons-location-dims {
	width: 54px;
	height: 96px;
}

.icons-nueww2016-dims {
	width: 150px;
	height: 81.247px;
}

.icons-protak-dims {
	width: 300px;
	height: 80px;
}

.icons-tollwerk-dims {
	width: 324px;
	height: 86px;
}

.icons-wiref-dims {
	width: 160px;
	height: 130.68px;
}

